name: deployment

runs-on: [self-hosted, linux]

on:
  push:
    branches:
      - master

jobs:
  build:
    steps:
    - name: Run a one-line script
      run: echo Hello, world!
    - name: Run a multi-line script
      run: |
        echo Add other actions to build,
        echo test, and deploy your project.