name: DEPLOYMENT

on: [push]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
    - name: Run a one-line script
      run: echo Hello, world!
    - name: Run a multi-line script
      run: |
        echo Add other actions to build,
        echo test, and deploy your project.
